{% load i18n %}
{% load account_tags %}
{% load pagination_tags %}
{% load humanize %}
{% load objfeed_tags %}

{% block feed_entry %}
  [
    {% block feed_entry_header %}
      <a href='{{feed_entry.get_absolute_url}}'>{{feed_entry.display_name}}</a>
      by
      <a href='{{feed_entry.author.get_absolute_url}}'>{{feed_entry.author}}</a>
    {% endblock %}
  ]
  {% block feed_entry_body %}
  {% endblock %}
  <div style="border-left: 20pt solid #dddddd;">
    {% block feed_entry_comments %}
      {% for sub_entry in feed_entry.comments_in.all %}
	<hr />
	{{ sub_entry|render:"html"|safe }}
      {% endfor %}
    {% endblock %}
  </div>
{% endblock %}
