{% load i18n %}
{% load account_tags %}
{% load pagination_tags %}
{% load humanize %}
{% load objfeed_tags %}
{% load avatar_tags %}

{% block feed_entry %}
  <div class="feed_entry">
    <img src="{% avatar_url feed_entry.author 40 %}" alt="Photo of {{ feed_entry.author }}" class="avatar" />
    <div class="entry_content">

      {% block feed_entry_header %}
        <h1><a href='{{feed_entry.get_absolute_url}}'>{{feed_entry.display_name}}</a></h1>
        <p class="toggle_profile"><a href='{{feed_entry.author.get_absolute_url}}'>{{feed_entry.author}}</a></p>
      {% endblock %}
      
      <div class="execise_summary">
        {% block feed_entry_body %}
        {% endblock %}
      </div>
      
      <div class="entry_footer">
        <span class="timestamp">For 23 minutter siden</span>
        <span class="autohide-button" id="comment_for_{% if feed_entry.subject %}comment_{% endif %}{{feed_entry.id}}-button">Kommenter</span>
        <span class="last">Lagre &oslash;kt</span>
        <div class="clearfloat"></div>                              
      </div>
      
      <form action="{% url djangoobjfeed.views.post_comment %}" method="POST" class="autohide-body" id="comment_for_{% if feed_entry.subject %}comment_{% endif %}{{feed_entry.id}}-body">
        <fieldset>
          {% csrf_token %}
          {% if feed_entry.subject %}
            <input type="hidden" name="comment_on_comment" value="{{feed_entry.id}}">
          {% else %}
            <input type="hidden" name="comment_on_feed_entry" value="{{feed_entry.id}}">
          {% endif %}
          <input type="text" name="subject" class="textfield" />
          <textarea name="content" cols="0" rows="0" class="textfield"></textarea>
          <input type="submit" class="fancy_grey_button" />
        </fieldset>
      </form>
      
      <div class="comments">
        {% block feed_entry_comments %}
  	{% for sub_entry in feed_entry.comments_in.all %}
  	  {% render sub_entry "html" %}
  	{% endfor %}
        {% endblock %}
      </div>
    
    </div>
    <div class="clearfloat"></div>                              
  </div>
{% endblock %}
